/* Universal styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: azure;
}

/* Heading style */
.heading_style {
  text-align: center;
  background-color: white;
  padding: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 20px;
}

/* Common button style */
.button_style {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button_style:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button_style:active {
  background-color: #003d7a;
}

/* Container styling for both Slot Machine and Dice Betting */
.slotmachine,
.dice_betting {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 5% auto;
  padding: 2%;
}

/* Slot inner specific styles */
.slot_inner {
  text-align: center;
  font-size: 16px; /* Adjusted for better readability */
  margin: 20px 0;
}

/* Rules button styling */
.rules_button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.rules_button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.rules_button:active {
  background-color: #003d7a;
}

/* Rules box styling */
.rules_box {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
